        <div class="footer" style="vertical-align: middle;">
            <div class="container" style="vertical-align: middle;">
                <p style="color: lemonchiffon;">@covid<strong>19</strong></p>
                
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>