<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid19</title>
    <link rel="icon" href="../../public/imgs/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <header style="margin-bottom: 20px;">
        <img class="logo" src="../../public/imgs/favicon.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="/home">Home</a></li>
                <li><a href="/home/treatment">Treatment</a></li>
                <li><a href="#">Sources</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Helpline</button></a>
    </header>
    
